@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap");

// Colors

// Primary
$Pink: #ff52bf;

// Neutral
$Very_Pale_Cyan: #ebfbff;
$Very_Dark_Cyan: #00252e;
$Grayish_Blue: #808d99;

// Typography
$font_size: 18px;
$ff_heading: "Poppins", sans-serif;
$ff_body: "Open Sans", sans-serif;

@mixin flex {
  display: flex;
  justify-content: center;
  align-items: center;
  @content;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-size: $font_size;
  font-family: $ff_body;
}

main {
  margin: 2rem 1rem;
}

nav {
  padding: 1rem;
  background: $Very_Pale_Cyan url(../images/bg-hero-mobile.svg) no-repeat scroll
    100%;
  background-size: cover;
}

.header {
  font-family: $ff_heading;
  @include flex();
  justify-content: space-between;
  img {
    width: 30%;
  }
  button {
    font-size: 0.8rem;
    background-color: white;
    padding: 0.5rem 1.5rem;
    border: none;
    border-radius: 2rem;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    cursor: pointer;
    &:hover {
      opacity: 0.5;
    }
  }
}

section {
  margin: 4rem 1rem;
  text-align: center;

  h2 {
    font-size: 1.5rem;
    color: $Very_Dark_Cyan;
    line-height: 2rem;
    margin-bottom: 2rem;
  }
  p {
    color: $Very_Dark_Cyan;
    font-size: 1rem;
    margin-bottom: 2rem;
    line-height: 1.5rem;
  }
  button {
    font-size: small;
    font-weight: 800;
    color: white;
    background-color: $Pink;
    border: none;
    border-radius: 2rem;
    padding: 0.8rem 3rem;
    margin-bottom: 2rem;
    cursor: pointer;
    &:hover {
      opacity: 0.5;
    }
  }
  img {
    width: 90%;
  }
}

main {
  margin: 8rem 1rem 3rem 1rem;

  .first {
    margin-bottom: 2rem;
    text-align: center;
    line-height: 1.2rem;
    padding: 2rem;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    border-radius: .8rem;
    img {
      width: 100%;
      margin-bottom: 2rem;
    }
    h2 {
      font-size: 1rem;
      color: $Very_Dark_Cyan;
      margin-bottom: 1rem;
    }
    p {
      font-size: smaller;
      color: $Grayish_Blue;
      line-height: 1.5rem;
    }
  }
  .second {
    @extend .first;
  }
  .third {
    @extend .first;
  }
  .fourth {
    line-height: 2rem;
    background-color: white;
    position: relative;
    top: 7rem;
    z-index: 11;
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    border-radius: .8rem;
    padding: 3rem 1rem;
    h2 {
      font-size: 1rem;
      color: $Very_Dark_Cyan;
    }
    button {
      font-size: small;
      font-weight: 800;
      color: white;
      background-color: $Pink;
      border: none;
      border-radius: 2rem;
      padding: 0.8rem 3rem;
      cursor: pointer;

      &:hover {
        opacity: 0.5;
      }
    }
  }
}

footer {
  position: relative;
  z-index: 1;
  background-color: $Very_Dark_Cyan;
  padding: 1rem;
  @include flex();
  flex-direction: column;
  justify-content: flex-end;
  height: 130vh;
}

.contact {
  @include flex();
  flex-direction: column;
  align-items: flex-start;
  gap: 2rem;
  margin-bottom: 2rem;

  .footer-logo {
    max-width: 40%;
  }

  .location {
    display: grid;
    grid-template-areas: "right left";
    gap: 1rem 1rem;

    img {
      grid-area: right;
      width: 100%;
    }
    span {
      grid-area: left;
      color: $Very_Pale_Cyan;
      font-size: 0.8rem;
    }
  }

  .tell {
    @extend .location;
  }
}

.menu {
  align-self: flex-start;
  margin-bottom: 2rem;
  line-height: 2rem;
  font-size: 0.8rem;
  color: $Very_Pale_Cyan;
  list-style: none;
  font-weight: 100;
  cursor: pointer;
}
li:hover {
  text-decoration: underline;
}

.socials {
  .icons,
  i {
    @include flex();
    color: $Very_Pale_Cyan;
    gap: 1rem;
    margin-bottom: 0.2rem;
    align-self: center;
    &:hover {
      color: $Pink;
    }
  }
  span {
    color: $Very_Pale_Cyan;
    font-size: 0.6rem;
  }
}

@media (min-width: 779px) {
  nav {
    .header {
      padding: 1rem 3rem;
      img {
        width: 11%;
      }
    }

    section {
      @include flex();
      justify-content: space-around;
      // gap: 2rem;
      .info {
        width: 40%;
        text-align: left;
      }
      h2 {
        font-size: 3rem;
        font-weight: normal;
        line-height: 3.5rem;
      }
      img {
        width: 50%;
      }
    }
  }

  main {
    @include flex();
    flex-direction: column;
    margin: 8rem 5rem 3rem 5rem;

    .first {
      @include flex();
      flex-direction: row-reverse;
      gap: 10rem;
      img {
        width: 30%;
      }
      .info {
        text-align: left;
        width: 35%;
      }
    }
    .second {
      flex-direction: row;
    }
    .fourth {
      h2 {
        font-size: 1.5rem;
      }
      width: 50%;
    }
  }

  footer {
    @include flex();
    flex-direction: row;
    justify-content: space-around;
    
    height: 70vh;

    .contact {
      width: 30%;
      align-self: center;
    }
    .menu {
      display: grid;
      grid-template-columns: 1fr 1fr;
      align-self: center;
      gap: 0rem 6rem;
    }

    .socials {
      @include flex();
      flex-direction: column;
      gap: 5rem;
      .icons{
      align-self: flex-start;
      }
    }
  }
}
